node_modules
app.yaml
.idea
dev
.vscode
.DS_Store

**/dist/*
npm-debug.log

**/remote_modules
src/app/config/config.json
src/public_*

**/coverage/*
src/app/config/config.json

**/env variables/*
nodemon.json